body {
    color:antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

a.nav-item {
    margin-left: 5px;
}

@media screen and (max-width:400px) /*for small screen like mobile*/
{
   .main-frame
   {
      font-size: 1px /*adjust as per requirement*/
   }
}

@media screen and (min-width:401px)  /*for screen larger than mobile*/
{
   .main-frame
   {
      font-size: 16px /*adjust as per requirement*/
   }
}